* {
    padding: 0;
    margin: 0;<
}
body {
    font-size: small;
    color: #222;
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
}
#logo-google { 
    display: block;
    width: 272px;
    height: 92px;
    margin: auto;
    padding: 90px 0;
    }
.navbar-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 25px;
}
.navbar-top li {
    display: inline-block; 
    float: right;
}
.navbar-top li a {
    display: inline-block;
    outline: none;
    padding: 8px;
    line-height: 24px;
    text-decoration: none;
    color: black;
}
.navbar-top li a:hover {
    text-decoration: underline;
}
#icon-google {
    height: 25px;
    width: 25px;
}
#icon-user {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.input {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
    width: 582px;
    padding: 15px;
    border-radius: 48px;
    border: 1px solid #dfe1e5;
    background: #fff;
    font-size: 16px;
    margin: 0 auto;
}

#buttons-search {
    text-align: center;
    padding: 36px;
}

.button-search { 
    display: inline-block;
    margin: auto;
    padding: 0 16px;
    margin: 11px 4px;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

.navbar-bottom {
    bottom: 0 !important;
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
}

ul.left,
ul.right {
    list-style: none;
    background-color: #f2f2f2;
    overflow: hidden;
}

ul.left li,
ul.right li {
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    list-style: none;
}

ul.left {
    float: left;
    padding-left: 20px;
}

ul.right {
    float: right;
    padding-right: 20px;
}

.navbar-bottom li a {
    text-decoration: none;
    color: #5f6368;
    padding-left: 27px;
    display: flex;
    bottom: 10%;
}

/*
.navbar-bottom-right {
    list-style: none;
    background-color: transparent;
}

.navbar-bottom-right li {
    display: inline-block;
    font-size: 14px;
}

.navbar-bottom-right li a {
    text-decoration: none;
    color: #5f6368;
    padding-left: 27px;
}
*/